@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
<h1>EN Job Exchange</h1>
<p class="lead">The EN Job Exchange Portal facilitates matching eligible job seekers with interested employers.</p>
@*<h4 style="text-decoration:underline;">Common Links</h4>*@

<ul class="nav navbar-nav">
    <li ><a href="http://www.onetonline.org/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ONet &raquo; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    <li><a href="http://www.ssa.gov/work/">Ticket To Work Program &raquo; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    <li><a href="http://www.ssa.gov/">Social Securirty Administration &raquo; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
</ul>
@*<p><a href="http://www.onetonline.org/">ONet &raquo;</a></p>
<p><a href="http://www.ssa.gov/">Social Securirty Administration &raquo;</a></p>
<p><a href="http://www.ssa.gov/work/">Ticket To Work Program &raquo;</a></p>*@
@*<p><a href="??">ONet &raquo;</a></p>*@


@*<h2>Index</h2>
*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>EN Portal</h2>
        <p style="speech-rate:fast;">The EN Portal allows Employment Netowork Reps engage in all sorts of ...</p>
        <p><a class="btn btn-default" href="">Learn More &raquo;</a></p>
        <p><a class="btn btn-default" href="">Log In &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employer Portal</h2>
        <p>The Employer Portal allows an Employer engage in all sorts of ...</p>
        <p><a class="btn btn-default" href="">Learn More &raquo;</a></p>
        <p><a class="btn btn-default" href="">Log In &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>General Information</h2>
        <p>Do we want a third section?  How does this fit in with other two?</p>
        <p><a class="btn btn-default" href="">Learn More &raquo;</a></p>
    </div>
</div>