@model ENJobExchange.Areas.PartnerPortal.Models.ReferralStatus
<table>
    <tr>
        <td>
            <div class="display-field">

            </div>
            <div class="display-label">

            </div>
        </td>
    </tr>
</table>

