@model ENJobExchange.Areas.PartnerPortal.Models.ReferralNotes
<table>
    <tr>
        <td>
            <div class="display-field">
                @Html.DisplayFor(p => p.Note)
            </div>
            <div class="display-label">
                <span>@Html.DisplayNameFor(p => p.ProvideAsFeedback_YN) &nbsp;&nbsp;&nbsp;</span>
                @Html.DisplayFor(p => p.ProvideAsFeedback_YN)
            </div>
        </td>
    </tr>
</table>
